h2, h3 {
    letter-spacing: 0.25em;
    text-transform: uppercase;
    font-weight: 100;
}

.small-text{
    font-size: 13;
    color: gray;
}

::placeholder { 
    color: rgba(255, 0, 0, 0.226);
}

p {
    line-height: 1.6em;
}

body{
    /* background-color: tomato; */
    
    background: transparent url('https://4.bp.blogspot.com/-dElkjRKyTXI/W6DTxN0z3cI/AAAAAAABO_E/nqrrUzCqlKk6D67k0UTAGVESI2L5RKgeACLcBGAs/s800/school_eakon_danbou_seifuku.png') right no-repeat ;
    background-size: 30%;
    
}

#contact{
    width: 70%;
}

#score{
    width: 70%;
}

#age{
    width: 18%;
}

#mini_guide{
    font-size: small;
    color: gray;
}
/*
 * -- Layout Styles --
 */
.l-content {
    margin: 0 auto;
}

.l-box {
    padding: 0.5em 2em;
}

#highlight{
    padding-top: 30px;
    margin: 20px;
    height: 100px;
    align-content: center;
    text-align: center;
    vertical-align: middle;
    text-shadow: 2px 2px 5px red;
    border: 5px solid green;
    /* padding: 30px; */
}

/*
 * -- MENU STYLES --
 * Make the menu have a very faint box-shadow.
 */
.pure-menu {
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}

.pure-menu-link {
    padding: .5em .7em;
}


.banner {
    background: transparent url('http://24.media.tumblr.com/ccb268832580ac12951828a1c179de69/tumblr_mo2xbk8JUK1st5lhmo1_1280.jpg') 0 0 no-repeat fixed;
    text-align: center;
    background-size: cover;
    /* filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://24.media.tumblr.com/ccb268832580ac12951828a1c179de69/tumblr_mo2xbk8JUK1st5lhmo1_1280.jpg', sizingMethod='scale'); */

    height: 0px;
    width: 100%;
    /* margin-bottom: 3em; */
    display: table;
}

    .banner-head {
        display: table-cell;
        align-content: center;
        /* vertical-align: middle; */
        /* margin-bottom: 0; */
        /* font-size: 20em; */
        color: white;
        font-weight: 500;
        /* text-shadow: 0 1px 1px black; */
    }



 .information {
    max-width: 980px;
    margin: 0 auto;
 }


.information-head {
    color: black;
    font-weight: 150;
    letter-spacing: 2px;
}




@media (min-width: 480px) {
    .banner {
        height: 500px;
        padding-top: 400;
    }
    .banner-head {
        font-size: 3em;
    }
}