
p {
    line-height: 1.6em;
}
.alert alert-warning{
    background-color: gray;
}


.box{
    width: 250px;        
    border: 5px solid black;
} 

.pair{
    background-color: rgba(109, 62, 148, 0.39);
}

#guide{
    font-style: oblique;
    font-size: 19;
    /* background-color: tomato; */
}


#background_male{
    background-image: url("https://i.ibb.co/mtCN8ps/rsz-1rsz-1rsz-1rsz-seifuku-bad3-blazer.png");
    background-color: rgba(255, 255, 0, 0.274);
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: right; 
    /* image-resolution: 1; */
    
}

#background_female{
    background-image: url("https://i.ibb.co/YNmKthx/rsz-background-f.png");
    background-color: rgba(255, 192, 206, 0.527);
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: right; 
    /* image-resolution: 1; */
    
}

.hobbies{
    font-size: 16px;
    background-color: rgb(83, 182, 105);
}

#gender{
    font-size: 30px;
    align-self: center;
    vertical-align: middle;
}

#po{
    font-size: 30;
    border-top-width: 30px;
    border-top-color: white;
}

#name{
    font-size: 20;
}
.l-content {
    margin: 0 auto;
}

.l-box {
    padding: 0.5em 2em;
}

#highlight{
    padding-top: 30px;
    margin: 20px;
    height: 100px;
    align-content: center;
    text-align: center;
    vertical-align: middle;
    text-shadow: 2px 2px 5px red;
    border: 5px solid green;
    /* padding: 30px; */
}

/*
 * -- MENU STYLES --
 * Make the menu have a very faint box-shadow.
 */
.pure-menu {
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}

.pure-menu-link {
    padding: .5em .7em .9em .11em;
}


.banner {
    background: transparent url('http://24.media.tumblr.com/ccb268832580ac12951828a1c179de69/tumblr_mo2xbk8JUK1st5lhmo1_1280.jpg') 0 0 no-repeat fixed;
    text-align: center;
    background-size: cover;
    /* filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://24.media.tumblr.com/ccb268832580ac12951828a1c179de69/tumblr_mo2xbk8JUK1st5lhmo1_1280.jpg', sizingMethod='scale'); */

    height: 0px;
    width: 100%;
    /* margin-bottom: 3em; */
    display: table;
}

    .banner-head {
        display: table-cell;
        /* text-align: center; */
        vertical-align: middle;
        margin-bottom: 0;
        font-size: 2em;
        color: whitesmoke;
        font-weight: 500;
        text-shadow: 0 1px 1px black;
    }


 .information {
    max-width: 980px;
    margin: 0 auto;
 }


.information-head {
    color: black;
    font-weight: 150;
    letter-spacing: 2px;
}




@media (min-width: 480px) {
    .banner {
        height: 150px;
    }
    .banner-head {
        font-size: 3em;
    }
}
