extends ../layouts/commoncss

block content
    head
        style
            include ./css/animation.css
            include ./css/create.css
    body
        div(class="banner")
            h1(class="banner-head") Create a new profile:
        //- div(class="result")
        //-     p Hello
        //- div(class="ani_form")
        //-     input(type="text",name="name", autocomplete="off" required='' )
        //-     label(for="name",class="ani_label-name")
        //-         span(class="ani_content-name") Your name:
        form(action="/users/create1",method="POST")
            p
                div(class="ani_form")
                    input(type="text",name="name", autocomplete="off" required='' )
                    label(for="name",class="ani_label-name")
                        span(class="ani_content-name") Your name:
            p
                div(class="ani_form")
                    input(type="number",name="age", required='' )
                    label(for="name",class="ani_label-name")
                        span(class="ani_content-name") Your age:
            p
                label The subject you want to improve: &nbsp &nbsp
                input(type='checkbox', name='subject', value='1')#Math
                label(for='Math')
                    span Math &nbsp &nbsp &nbsp
                input(type='checkbox', name='subject', value='2')#Japanese
                label(for='Japanese')
                    span Japanese &nbsp &nbsp &nbsp
                input(type='checkbox', name='subject', value='3')#English
                label(for='English')
                    span English &nbsp

            div(class="input-group mb-3")
                div(class="input-group-prepend")
                    label(class="input-group-text" for="inputGroupSelect01") Your free time
                select(class="custom-select" id="inputGroupSelect01",name="freeTimeD")
                    option(value="M") Monday
                    option(value="T") Tuesday
                    option(value="W") Wednesday
                    option(value="Th") Thursday
                    option(value="F") Friday
                    option(value="S") Saturday
                select(class="custom-select" id="inputGroupSelect01",name="freeTime")
                    option(value="8") 8:00 -> 10:00
                    option(value="10") 10:00 -> 12:00
                    option(value="12") 12:00 -> 14:00
                    option(value="14") 14:00 -> 16:00
                    option(value="16") 16:00 -> 18:00


            //- h3 Search for "suitable partner":
            button(class="btn btn-primary") Create
        a(href="/users") Already have an id? 
        //- h2 Existed users:
        //- ol
        //-     each user in users
        //-         li=user.name
        
