extends ../layouts/commoncss

block content

    h1 Create users:

    form(action="/users/create2",method="POST")
        p
            label Name
            input(name="name",type="text", class="form-control") 
        p
            label Age
            input(name="age",type="number", class= "form-control")
        p
            label What subjects are you confident about? &nbsp &nbsp
            input(type='checkbox', name='subject', value='1')#Math
            label(for='Math')
                span Math &nbsp &nbsp &nbsp
            input(type='checkbox', name='subject', value='2')#Japanese
            label(for='Japanese')
                span Japanese &nbsp &nbsp &nbsp
            input(type='checkbox', name='subject', value='3')#English
            label(for='English')
                span English &nbsp
        p
            label Your free time: &nbsp &nbsp
            select(name="freeTime")
                option(value="M8") Monday 8:00 -> 10:00
                option(value="M10") Monday 10:00 -> 12:00
                option(value="M12") Monday 12:00 -> 14:00
                option(value="M14") Monday 14:00 -> 16:00
                option(value="M16") Monday 16:00 -> 18:00
                option(value="T8") Tuesday 8:00 -> 10:00
                option(value="T10") Tuesday 10:00 -> 12:00
                option(value="T12") Tuesday 12:00 -> 14:00
                option(value="T14") Tuesday 14:00 -> 16:00
                option(value="T16") Tuesday 16:00 -> 18:00
                option(value="W8") Wednesday 8:00 -> 10:00
                option(value="W10") Wednesday 10:00 -> 12:00
                option(value="W12") Wednesday 12:00 -> 14:00
                option(value="W14") Wednesday 14:00 -> 16:00
                option(value="W16") Wednesday 16:00 -> 18:00
                option(value="Th8") Thursday 8:00 -> 10:00
                option(value="Th10") Thursday 10:00 -> 12:00
                option(value="Th12") Thursday 12:00 -> 14:00
                option(value="Th14") Thursday 14:00 -> 16:00
                option(value="Th16") Thursday 16:00 -> 18:00
                option(value="F8") Friday 8:00 -> 10:00
                option(value="F10") Friday 10:00 -> 12:00
                option(value="F12") Friday 12:00 -> 14:00
                option(value="F14") Friday 14:00 -> 16:00
                option(value="F16") Friday 16:00 -> 18:00
                option(value="S8") Saturday 8:00 -> 10:00
                option(value="S10") Saturday 10:00 -> 12:00
                option(value="S12") Saturday 12:00 -> 14:00
                option(value="S14") Saturday 14:00 -> 16:00
                option(value="S16") Saturday 16:00 -> 18:00

        button(class="btn btn-primary") Create

    //- h2 Existed users:
    //- ol
    //-     each user in users
    //-         li=user.name
    
