extends ../layouts/commoncss

block content
    body
        h1 Welcome to our site!!!
        //- identify where to go after clicking the button
        p There are #{num_of_users} people using this site.
        //- ul
        //-     each user in users1
        //-         li
        //-             span=user.name +' '
        //-             a(href="/users/"+ user.id) View this user's information
        //- ol
        //-     each user in users2
        //-         li
        //-             span=user.name +' '
        //-             a(href="/users/"+ user.id) View this user's information
        p You are new and want to find a friend who can help you improve your academic performance?  &nbsp
            a(href="/users/create1") Click here
        form(action="/users/search", method="get") 
            p You have visited this site and already have an ID? Please type your ID: &nbsp
            input(type='text', name='q') 
            span &nbsp &nbsp
            button(class="btn btn-info") Search
        //- h1 What do you want to do?
        
        //- p Share your interesting knowledge with others?  &nbsp
        //-     a(href="/users/create2") Click here
