<!doctype html>
<html lang="en">

<head>
    <title>Homepage</title>
    <link rel="stylesheet" href="./css/test.css">
</head>

<body>


    <div class="banner">
        <h1 class="banner-head">
            Welcome to group 5's website
        </h1>
    </div>


    <div class="information pure-g">
        <div class="pure-u-1 pure-u-md-1-2">
            <div class="l-box" , id="highlight">
                <h3 class="information-head">There are #{num_of_users} people using this site.</h3>

            </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-2">
            <div class="l-box">
                <h3 class="information-head">You want to create a new profile?</h3>
                <p>
                    Click here
                </p>
            </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-2">
            <div class="l-box">
                <h3 class="information-head">You have visited this site and already have an ID?</h3>
                <p>
                    Type your ID:
                </p>
            </div>
        </div>


    </div> <!-- end information -->
    </div> <!-- end l-content -->

</body>

</html>